<a href="https://colab.research.google.com/github/seok09/-Github-Repository/blob/main/colab_basic_01_ipnb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

python code 성적표 1

In [ ]:
import pandas as pd

# 학생 수
num_students = 5

# 데이터 저장용 리스트
students = []

# 입력 받기
print("학생 5명의 이름과 국어, 수학, 과학 점수를 입력하세요.")
for i in range(num_students):
    print(f"\n[{i+1}번째 학생 입력]")
    name = input("이름: ")
    korean = int(input("국어 점수: "))
    math = int(input("수학 점수: "))
    science = int(input("과학 점수: "))

    student = {
        "이름": name,
        "국어": korean,
        "수학": math,
        "과학": science
    }
    students.append(student)

# DataFrame 생성
df = pd.DataFrame(students)

# 학생별 합계 및 평균
df["합계"] = df[["국어", "수학", "과학"]].sum(axis=1)
df["평균"] = df[["국어", "수학", "과학"]].mean(axis=1)

# 출력
print("\n📊 학생별 성적표")
print(df)

# 과목별 평균
subject_avg = df[["국어", "수학", "과학"]].mean()

print("\n📈 과목별 평균 점수")
print(subject_avg)

학생 5명의 이름과 국어, 수학, 과학 점수를 입력하세요.

[1번째 학생 입력]
이름: Na
국어 점수: 100
수학 점수: 100
과학 점수: 100

[2번째 학생 입력]
이름: Park
국어 점수: 100
수학 점수: 100
과학 점수: 100

[3번째 학생 입력]
이름: Lee
국어 점수: 100
수학 점수: 100
과학 점수: 100

[4번째 학생 입력]
이름: Sue
국어 점수: 100
수학 점수: 100
과학 점수: 100

[5번째 학생 입력]
이름: Guan
국어 점수: 100
수학 점수: 100
과학 점수: 1000

📊 학생별 성적표
     이름   국어   수학    과학    합계     평균
0    Na  100  100   100   300  100.0
1  Park  100  100   100   300  100.0
2   Lee  100  100   100   300  100.0
3   Sue  100  100   100   300  100.0
4  Guan  100  100  1000  1200  400.0

📈 과목별 평균 점수
국어    100.0
수학    100.0
과학    280.0
dtype: float64